body {
    background-color: hsla(39, 76%, 21%, 0.473);
}

.book {
    width: 700px;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 30px;
}

.recipe-index {
    text-align: center;
    list-style-type: none;
}

h1,
h2 {
    text-align: center;
}

a {
    color: black;
    font-size: 22px;
    text-decoration:wavy;
}

a:hover {
    color: white;
} 

.sandwich {
    width: 500px;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 30px;
}

.home {
   text-align: center;
   display: block;
}