body {
    background-color: hsla(39, 76%, 21%, 0.473);
}

.book {
    width: 700px;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 30px;
    bor
}

ul {
    text-align: center;
    display: inline;
}

h1 {
    text-align: center;
}
a {
    color: black;
    font-size: 22px;
    text-decoration:wavy;
}
a:hover {
    color: white;
}   